:root {
    --color-primary: rgb(30 27 75);
    --color-danger: #bd002f;

    --color-white: #ffffff;
    --color-light: #d4dadf;

    --color-black: #0c0c10;
    --color-dark: #0e1013;

    --transition: .4s ease;
}

#About {
    background: url(/src/assets/1252907_3133.jpg);
    padding: 4rem 0;
}
.about-container {
    display: grid;
    grid-template-columns: 38% auto;
    gap: 120px;
    align-items: center;
}
.about-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: justify;
}
.aboutMe-header .about-main {
    font-size: 40px;
}
.aboutMe-header .about-second {
    color: var(--color-black);
    font-weight: 500;
}
.about-small-title {
    font-size: 17px;
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: 7px;
}
.aboutMe-info {
    font-weight: 500;
}
.about-action-aria {
    display: flex;
    align-items: center;
    gap: 30px;
}

/* .....................Start Media Screen(1024)..................... */
@media (max-width:1024px) {

}
/* .....................Start Media Screen(666)..................... */
@media (max-width:666px) {
    .about-container {
        grid-template-columns: 1fr;
        text-align: center;
        gap: 20px;
    }
    .about-right {
        padding: 2.5rem;
    }
    .about-left {
        width: 90%;
        margin: auto;
    }
    .about-action-aria {
        justify-content: center;
    }
}


