:root {
    --color-primary: rgb(30 27 75);
    --color-danger: #bd002f;

    --color-white: #ffffff;
    --color-light: #d4dadf;

    --color-black: #0c0c10;
    --color-dark: #0e1013;

    --transition: .4s ease;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.Home {
    background: transparent !important;
    margin-bottom:150px;
}

/* .....................Start News..................... */
.News {
    background: transparent;
    padding: 1rem 0;
}
.news-wrapper {
    padding-top: 4.5rem !important;
} 
.news-title {
    font-size: 30px;
    margin-bottom: -2rem;
    position: relative;
    z-index: 1 !important;
}
.news-image {
    border: 1px solid var(--color-danger);
    height: 240px;
}
.news-image img {
    height: 100%;
    object-fit: cover;
    transform: translateX(10px) translateY(-10px);
}
.news-image:hover img {
    transform: translate(0);
}
.news-article .category {
    margin-top: 16px;
    font-weight: bold;
    color: var(--color-primary);
}
.news-article h5 {
    font-size: 22px;
    margin: 10px 0;
}
.news-article small {
    font-size: 15px !important;
    display: inline-block;
    line-height: 24px;
}
.news-article .news-link {
    display: inline-block;
    color: var(--color-danger);
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 17px;
    transition: var(--transition);
}
.news-article .news-link:hover {
    transform: translateX(10px);
    color: var(--color-primary);
}
.navigation-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 0;
    right: 0;
}
.navigation-buttons .button-prev-slide {
    background: transparent;
}
.navigation-buttons .button-prev-slide svg {
    color: var(--color-black);
}

.navigation-buttons .button-next-slide {
    background: transparent;
}
.navigation-buttons .button-next-slide svg {
    color: var(--color-black);
}
.navigation-buttons button {
    border: 1px solid var(--color-danger);
    padding: 10px 14px;
    display: flex;
    color: var(--color-dark);
    transition: var(--transition);
}
.navigation-buttons button:hover {
    background: var(--color-danger);
}
.navigation-buttons button:last-child {
    border: 1px solid var(--color-primary);
}
.navigation-buttons button:last-child:hover {
    background: var(--color-primary);
}
/* .....................End News..................... */

/* .....................Start Cyberheat..................... */
#Cyberheat {
    background: transparent;
}
.cyberheat-container {
    height: 650px;
    display: grid;
    justify-content: center;
    align-items: center;
    background: transparent;
}
.cyberheat-wrapper {
    width: 850px;
    height: 480px;
    display: grid;
    justify-content: center;
    align-items: center;
    background: var(--color-light);
    border-radius: 20px;
}
.cyberheat-wrapper iframe {
    width: 800px;
    height: 400px;
}
.cyberheat-wrapper h3 {
    margin-top: -30px;
    margin-left: 10px;
    color: var(--color-black);
    font-weight: 600;
}
/* .....................End Cyberheat..................... */

/* .....................Start Media Screen(1024)..................... */
@media (max-width:1024px) {
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 38px !important;
    }
    h3 {
        font-size: 34px !important;
    }
    h4 {
        font-size: 24px !important;
    }
    h5 {
        font-size: 20px; 
    }
    /* ..........Start News.......... */
    .News {
        padding: 2rem 0;
    }
    .news-title {
        margin-bottom: -3rem;        
    }
}

/* .....................Start Media Screen(830)..................... */
@media (max-width:830px) {
    /* ..........Start News.......... */
    .News {
        padding: 3rem;
    }
/* .....................Start Cyberheat..................... */
    .cyberheat-wrapper {
        width: 670px;
        height: 480px;
    }
    .cyberheat-wrapper iframe {
        width: 630px;
        height: 400px;
    }
    .cyberheat-wrapper h3 {
        font-size: 15px !important;
    }    
}

/* .....................Start Media Screen(666)..................... */
@media (max-width:666px) {
    h1 {
        font-size: 34px !important;
    }
    h2 {
        font-size: 30px !important;
    }
    h3 {
        font-size: 20px !important;
    }
    h4 {
        font-size: 17px !important;
    }
    h5 {
        font-size: 20px; 
    }
    /* ..........Start Nav.......... */
    nav {
        height: 6rem;
    }
    .logo img {
        max-width: 30;
    }
    /* ..........Start News.......... */
    .news-title {
        margin-bottom: -4rem;
    }
/* .....................Start Cyberheat..................... */
    .cyberheat-wrapper {
        width: 370px;
        height: 480px;
    }
    .cyberheat-wrapper iframe {
        width: 330px;
        height: 400px;
    }
    .cyberheat-wrapper h3 {
        font-size: 15px !important;
    }    
}


/* .....................Start Media Screen(420)..................... */
@media (max-width:420px) {
    .News {
        padding: 2rem;
    }
    .news-title {
        margin-bottom: -3rem;        
    }
    .news-title h2 {
        display: grid;
        grid-template-columns: 1fr;
        font-size: 25px !important;
        line-height: 27px;
    }
    .news-article p {
        font-size: 15px;
    }
    .news-article h5 {
        font-size: 20px;
    }
/* .....................Start Cyberheat..................... */
    .cyberheat-wrapper {
        width: 370px;
        height: 480px;
    }
    .cyberheat-wrapper iframe {
        width: 330px;
        height: 400px;
    }
    .cyberheat-wrapper h3 {
        font-size: 15px !important;
    }
}

