:root {
    --color-primary: rgb(30 27 75);
    --color-danger: #bd002f;

    --color-white: #ffffff;
    --color-light: #d4dadf;

    --color-black: #0c0c10;
    --color-dark: #0e1013;

    --transition: .4s ease;
}

.container-layanan {
    width: 100%;
    justify-content: center;
    margin-bottom: 80px;
}
.layanan-utama {
    height: 80vh;
    display: grid;
    grid-template-columns: 50% 40%;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.layanan-utama-left .title-layanan {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}
.layanan-utama-left li {
    font-weight: 500;
}

.layanan-tambahan {
    height: 70vh;
    display: grid;
    grid-template-columns: 30% 45%;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}
.layanan-tambahan-right .title-layanan {
    color: var(--color-primary);
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 20px;
}
.layanan-tambahan-right li {
    font-weight: 500;
}