:root {
  --color-primary: rgb(30 27 75);
  --color-danger: #bd002f;

  --color-white: #ffffff;
  --color-light: #d4dadf;

  --color-black: #0c0c10;
  --color-dark: #0e1013;

  --transition: .4s ease;
}

.warpper-spinner{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 998;
    pointer-events: none;
    transition: opacity 0.5s;
}

.fade-in {
  opacity: 1 !important;
  pointer-events: auto !important;
}
 
 .fade-out {
  opacity: 0 !important;
  pointer-events: none !important;
}

.spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid var(--color-white);
    border-radius: 50%;
    border-color: var(--color-white) var(--color-danger);
    animation: spinner-e04l1k 1s infinite linear;
  }
  
  .spinner::before,
  .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
  }
  
  .spinner::before {
    border-color: var(--color-danger) var(--color-white);
    animation: inherit;
    animation-duration: 0.5s;
    animation-direction: reverse;
  }
  
  .spinner::after {
    margin: 8.9px;
  }
  
  @keyframes spinner-e04l1k {
    100% {
      transform: rotate(2turn);
    }
  }