:root {
  --color-primary: rgb(30 27 75);
  --color-danger: #bd002f;

  --color-white: #ffffff;
  --color-light: #d4dadf;

  --color-black: #0c0c10;
  --color-dark: #0e1013;

  --transition: .4s ease;
}

.panduan-container {
    min-height: 100vh;
    margin: 0;
    font-size: 1.25rem;
    display: grid;
    grid-template-columns: 20rem 1fr;
    justify-content: center;
}

.sidebar {
    /* position: sticky; */
    top: 0;
    max-height: 100svh;
    background-color: var(--color-light);
    max-height: 100vh;
    overflow-y: auto;
}

.side-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    padding-block: 20px;
}

.side-list li {
    margin-left: 2rem;
    margin-right: 1rem;
    font-size: 17px !important;   
}

.side-list a {
    color: var(--color-black);
    font-weight: 700;
    text-decoration: none;    
}

.side-list a:hover {
    color: var(--color-primary);   
}

.pdfbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 70px;
  width: 100%;
}
.pdfbar p{
  color: var(--color-black);
}

/* Start Panduan At Home */
#PanduanH {
    background: transparent;
    margin-bottom: 50px;
  }
  .panduanH-container {
    position: relative;
  }
  .panduanH-title {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 35px;
  }
  .card-panduanH-warpper {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
    justify-content: center;
  }

  .card-panduanH {
    width: 300px;
    height: 310px;
    padding: 20px;
    color: white;
    background: var(--color-danger);
    border: 2px solid var(--color-primary);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transform-origin: center center;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card-panduanH .main-content {
    flex: 1;
  }
  
  .header {
    margin-bottom: 24px;
  }
  
  .card-panduanH .heading {
    font-size: 28px;
    font-weight: 400;
    line-height: 1.2;
  }
  
  .card-panduanH .footer {
    font-weight: 400;
    margin-right: 4px;
  }
  
  .card-panduanH:hover {
    border-radius: 12px;
    background-color: var(--color-primary);
    scale: 0.95;
    rotate: 8deg;
    box-shadow: 0px 3px 187.5px 7.5px rgba(255, 107, 0, 0.4);
  }

  .card-panduanH:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }
    