:root{
  --color-primary: #1a74e2;
  --color-danger: #ff003d;

  --color-white: #ffffff;
  --color-light: #88949b;

  --color-black: #0c0c10;
  --color-dark: #0e1013;

  --transition: .4s ease;
}

#Panduan{
  background: var(--color-dark);
}
.panduan-container{
  position: relative;
}
.panduan-title{
  text-align: center;
  margin-bottom: 4rem;
}
.card-warpper{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 30px;
}

.card {
    box-sizing: border-box;
    height: 220px;
    background: var(--color-danger);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: var(--color-white);
    z-index: 1 !important;
  }
  
  .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  }