:root{
    --color-primary: #1a74e2;
    --color-danger: #ff003d;

    --color-white: #ffffff;
    --color-light: #88949b;

    --color-black: #0c0c10;
    --color-dark: #0e1013;

    --transition: .4s ease;
}

.rfc-container{
    display: grid;
    grid-template-columns: 35% 61%;
    justify-content: center;
    align-items: center;
    background: var(--color-dark);
    width: 100%;
    height: 100%;
    gap: 2.5rem;
}
.title-rfc h3{
    font-size: 25px !important;
    margin-left: 50px;
    margin-top: -7rem;
}
.pdf-rfc{
    height: 100vh;
    
}