:root {
    --color-primary: rgb(30 27 75);
    --color-danger: #bd002f;

    --color-white: #ffffff;
    --color-light: #d4dadf;

    --color-black: #0c0c10;
    --color-dark: #0e1013;

    --transition: .4s ease;
}

.rfc-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    background: transparent;
    gap: 2.5rem;
}

.title-rfc {
    font-size: 25px !important;
    margin-left: 50px;
    margin-top: -3rem; /* Adjusted margin-top value */
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-rfc {
    max-width: 100px; /* Adjust the max-width as needed */
    max-height: 100px; /* Adjust the max-height as needed */
}

.pdf-rfc {
    max-height: 870px;
    height: 100vh;
}

@media (max-width: 700px) {
    .rfc-container {
        display: flex;
        flex-direction: column;
        padding-top: 9rem;
    }

    .pdf-rfc {
        width: 60vh;
        max-height: 500px;
        max-width: 420px;
    }
}
