:root {
  --color-primary: rgb(30 27 75);
  --color-danger: #bd002f;

  --color-white: #ffffff;
  --color-light: #d4dadf;

  --color-black: #0c0c10;
  --color-dark: #0e1013;

  --transition: 0.4s ease;
}

.rfc-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  align-items: center;
  background: transparent;
}

.title-rfc {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pdf-rfc {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-bottom: 30px;
}

/* EFFECT */
/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #dc2626;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 1s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

/* MEDIA QUERIES */
@media (max-width: 666px) {
  .rfc-container {
    grid-template-columns: repeat(1, 500px);
  }
  .title-rfc button {
    font-size: 23px !important;
  }
}
@media (max-width: 500px) {
  .rfc-container {
    grid-template-columns: repeat(1, 350px);
  }
  .title-rfc button {
    font-size: 17px !important;
  }
}
