/* .........Google Font......... */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");

/* .........Custom Styles......... */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

:root {
  --color-primary: rgb(30 27 75);
  --color-danger: #bd002f;

  --color-white: #ffffff;
  --color-light: #d4dadf;

  --color-black: #0c0c10;
  --color-dark: #0e1013;

  --transition: 0.4s ease;
}

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background: url(/src/assets/bg.jpg);
  color: var(--color-black);
}

h1 {
  font-size: 52px;
  font-weight: 500;
  line-height: 60px;
}
h2 {
  font-size: 48px;
  font-weight: 500;
  line-height: 56px;
}
h3 {
  font-size: 46px;
  font-weight: 400;
  line-height: 54px;
}
h4 {
  font-size: 40px;
  font-weight: 300;
  line-height: 48px;
}
h5 {
  font-size: 25px;
  font-weight: 300;
  line-height: 34px;
}
p {
  font-size: 16px;
  line-height: 26px;
}
small {
  color: var(--color-black);
  font-size: 20px !important;
}
span {
  color: var(--color-primary);
}

.container {
  width: 90%;
  margin: 0 auto;
  max-width: 1480px;
}

.icon-kontak-fi {
  margin-top: 15px;
}

.icon-kontak-fi-mail {
  margin-top: 7px;
}

.icon-kontak-fi-phone {
  margin-top: 5px;
}

.kontak-title {
  margin-bottom: -10px;
  align-items: center;
}

/* ----------------Start Navbar---------------- */
.menus {
  display: none;
}
nav {
  height: 6rem;
  display: grid;
  background: var(--color-white);
  place-items: center;
  position: sticky;
  border-bottom: 2px solid var(--color-light);
  width: 100%;
  top: 0;
  z-index: 999;
}
.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-logo img {
  margin-top: -5px;
  max-width: 130px;
}
.nav-links {
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.nav-links li {
  font-size: 14px;
  font-weight: 700;
  color: var(--color-black);
  transition: var(--transition);
}
.nav-links li :hover {
  color: var(--color-danger);
}
.nav-item {
  position: relative;
}
.nav-item .active {
  color: var(--color-white);
  position: relative;
  padding: 6px;
  background: var(--color-primary);
  border-radius:  0.375rem;
}
.nav-item .active::before {
  content: "";
  position: absolute;
  top:  0;
  left:  0;
  width:  100%;
  height:  100%;
  background: linear-gradient(to right, #8B5CF6, #9F7AEA);
  border-radius:  0.375rem;
  z-index: -1;
  transition: opacity  0.5s ease;
  opacity:  0;
}
.nav-item .active:hover::before {
  opacity:  1;
}
.name {
  font-size: 15px;
  font-weight: 800;
  line-height: normal;
}
/* ----------------End Navbar---------------- */

/* START LOGOUT ADMIN */

.Btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 2rem;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition-duration: 0.3s;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
  background-color: rgb(255, 65, 65);
}

.sign {
  width: 100%;
  transition-duration: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign svg {
  width: 17px;
}

.sign svg path {
  fill: white;
}

.text_logout {
  position: absolute;
  right: 0%;
  width: 0%;
  opacity: 0;
  color: white;
  font-size: 1.2em;
  font-weight: 600;
  transition-duration: 0.3s;
}
/* hover effect on button width */
.Btn:hover {
  width: 125px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

.Btn:hover .sign {
  width: 30%;
  transition-duration: 0.3s;
  padding-left: 20px;
}
/* hover effect button's text */
.Btn:hover .text {
  opacity: 1;
  width: 70%;
  transition-duration: 0.3s;
  padding-right: 10px;
}
/* button click effect*/
.Btn:active {
  transform: translate(2px, 2px);
}

/* END LOGOUT ADMIN */

/* START RFC*/

.title-rfc {
  font-weight: 700;
}

/* END RFC */

/* START HERO  */

.hero-title {
  text-shadow: 0px 0px 2px rgba(0, 0, 0, 3);
}

/* END HERO  */

/* ----------------Start Footer---------------- */

.Footer {
  background: var(--color-light);
  padding: 2rem 0 !important;
  outline: 0.5px thick black;
  box-shadow: 0 0 6px rgba(0, 0, 0, 1);
  margin-top: 20px;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
}
.footer-title {
  display: grid;
}
.footer-konten {
  display: grid;
  justify-content: center;
  margin-left: 50px;
}
.footer-konten h4 {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 2.5rem;
}
.footer-konten p {
  font-size: 15px;
  font-weight: bold;
  color: var(--color-black);
}
.footer-konten p a {
  color: var(--color-black);
  transition: var(--transition);
}
.footer-konten p a:hover {
  color: var(--color-primary);
}
.footer-kontak {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  gap: 30px;
}
.footer-kontak .icon-kontak {
  font-size: 20px;
}
.footer-kontak .lokasi {
  display: flex;
  gap: 10px;
  max-width: 500px;
}
.footer-kontak .lokasi .icon-kontak {
  font-size: 35px;
}
.footer-kontak .telephone {
  display: flex;
  margin-right: -20px;
  gap: 10px;
}
.footer-kontak .email {
  display: flex;
  gap: 10px;
}
.footer-right {
  display: grid;
  justify-content: center;
  align-items: center;
}
.footer-right img {
  width: 250px;
}
.footer-right h4 {
  font-size: 40px;
  margin-left: 5px;
  margin-bottom: -10px;
}
.footer-copyright {
  background: var(--color-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto 0 auto;
}
.footer-copyright small {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px !important;
  color: var(--color-white);
}
.footer-copyright small span {
  color: rgb(129, 190, 255);
}
/* ----------------End Footer---------------- */

/* .....................Start Media Screen(1280)..................... */
@media (max-width: 1280px) {
  .footer-kontak {
    display: grid;
    gap: 50px;
  }
}

/* .....................Start Media Screen(1024)..................... */
@media (max-width: 1024px) {
  h1 {
    font-size: 46px;
  }
  h2 {
    font-size: 38px !important;
  }
  h3 {
    font-size: 34px !important;
  }
  h4 {
    font-size: 24px !important;
  }
  h5 {
    font-size: 20px;
  }
  .hero-text {
    font-size: 38px;
  }
  .btn {
    padding: 16px 36px;
  }
  /* ..........Start Nav.......... */
  .nav-links {
    display: none;
  }
  /* ..........Start Menus.......... */
  .menus {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 2rem;
    width: max-content;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(15px);
    display: flex;
    gap: 0.7rem;
    z-index: 11;
    padding: 0.7rem 1.7rem;
    border-radius: 2rem;
  }
  .menus a {
    padding: 0.8rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
    color: var(--color-primary);
  }
  .menus .active {
    background: var(--color-light);
  }
  /* ..........Start Footer.......... */
  .footer-container {
    display: grid;
    gap: 50px;
    margin-bottom: 60px;
  }
  .footer-container h4 {
    margin-bottom: 20px;
  }
  .footer-kontak {
    grid-template-columns: repeat(1, 250px) !important;
  }
}

/* .....................Start Media Screen(666)..................... */
@media (max-width: 666px) {
  h1 {
    font-size: 34px !important;
  }
  h2 {
    font-size: 30px !important;
  }
  h3 {
    font-size: 20px !important;
  }
  h4 {
    font-size: 17px !important;
  }
  h5 {
    font-size: 20px;
  }
  /* ..........Start Nav.......... */
  nav {
    display: grid;
    grid-template-columns: 80% 5%;
    justify-content: center;
    height: 5rem !important;
  }
  .navbar-logo img {
    max-width: 100px;
  }
  /* ..........Start Footer.......... */
  .footer-right {
    display: none;
  }
}
