/* .........Google Font......... */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

/* .........Custom Styles......... */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
}

:root {
    --color-primary: rgb(30 27 75);
    --color-danger: #bd002f;

    --color-white: #ffffff;
    --color-light: #d4dadf;

    --color-black: #0c0c10;
    --color-dark: #0e1013;

    --transition: .4s ease;
}

html {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    
}

body {
    background: url(/src/assets/bg.jpg);
    color: var(--color-black);
}

h1 {
    font-size: 52px;
    font-weight: 500;
    line-height: 60px;
    
}
h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
}
h3 {
    font-size: 46px;
    font-weight: 400;
    line-height: 54px;
}
h4 {
    font-size: 40px;
    font-weight: 300;
    line-height: 48px;
}
h5 {
    font-size: 25px;
    font-weight: 300;
    line-height: 34px;
}
p {
    font-size: 16px;
    line-height: 26px;
}
small {
    color: var(--color-black);
    font-size: 20px !important;
}
span {
    color: var(--color-primary);
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1480px;
}

/* ----------------Start Navbar---------------- */
.menus {
    display: none;
}
nav {
    height: 6rem;
    display: grid;
    background: var(--color-white);
    place-items: center;
    position: sticky;
    border-bottom: 2px solid var(--color-light);
    width: 100%;
    top: 0;
    z-index: 999;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-logo img {
    margin-top: -5px;
    max-width: 130px;
}
.nav-links {
    display: flex;
    align-items: center;
    gap: 3rem;
}
.nav-links li a {
    font-weight: 700;
    color: var(--color-black);
    transition: var(--transition);
}
.nav-links li a:hover {
    color: var(--color-primary);
}
.nav-links li a:active {
    text-decoration: underline;
}
.name {
    font-size: 32px;
    font-weight: 800;
    line-height: normal;
}
/* ----------------End Navbar---------------- */

/* ----------------Start Footer---------------- */
.Footer {
    background: transparent;
    padding: 5rem 0 !important;
}
.footer-container {
    display: grid;
    grid-template-columns: 64% 30%;
    justify-content: center;
    align-items: center;
}
.footer-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer-left h4 {
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 2.5rem;
}
.footer-left p {
    font-size: 15px;
    font-weight: bold;
    color: var(--color-black);
}
.footer-left p a {
    color: var(--color-black);
    transition: var(--transition);
}
.footer-left p a:hover {
    color: var(--color-primary);
}
.footer-right {
    display: flex-end;
    margin-right: 10rem;
}
.kontak {
    display: flex;
    flex-direction: row;
    gap: 60px;
}
.kontak .icon-kontak {
    color: var(--color-danger);
    font-size: 20px;
}
.kontak .lokasi {
    display: flex;
    gap: 10px;
}
.kontak .telephone {
    display: flex;
    gap: 10px;
}
.kontak .email {
    display: flex;
    gap: 10px;
}
.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.social a {
    font-size: 22px;
    color: var(--color-white);
    cursor: pointer;
    transition: var(--transition);
}
.social a:hover {
    color: var(--color-primary) !important;
}
.social a:nth-child(2) {
    color: var(--color-danger);
}
.social a:nth-child(4) {
    color: var(--color-danger);
}
/* ----------------End Footer---------------- */

/* .....................Start Media Screen(1280)..................... */
@media (max-width:1280px) {
    .kontak {
        display: grid;
        grid-template-columns: repeat(2, 200px) !important;
        gap: 30px;
    }
}

/* .....................Start Media Screen(1024)..................... */
@media (max-width:1024px) {
    h1 {
        font-size: 46px;
    }
    h2 {
        font-size: 38px !important;
    }
    h3 {
        font-size: 34px !important;
    }
    h4 {
        font-size: 24px !important;
    }
    h5 {
        font-size: 20px; 
    }
    .hero-text {
        font-size: 38px;
    }
    .btn {
        padding: 16px 36px;
    }
    /* ..........Start Nav.......... */
    .nav-links {
        display: none;
    }
    /* ..........Start Menus.......... */
    .menus {
        display: flex;
        position: sticky;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 2rem;
        width: max-content;
        background: rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(15px);
        display: flex;
        gap: .7rem;
        z-index: 11;
        padding: .7rem 1.7rem;
        border-radius: 2rem;
    }
    .menus a {
        padding: .8rem;
        border-radius: 50%;
        display: flex;
        font-size: 1.1rem;
        color: var(--color-white);
    }
    .menus .active {
        background: var(--color-danger);
    }
    /* ..........Start Footer.......... */
    .footer-container {
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .footer-container h4 {
        margin-bottom: 20px;
    }
    .footer-left .social {
        margin-top: 20px;
    }
    .footer-right {
        margin-right: 0 !important;
    }
    .kontak {
        grid-template-columns: repeat(3, 200px) !important;
    }
}

/* .....................Start Media Screen(666)..................... */
@media (max-width:666px) {
    h1 {
        font-size: 34px !important;
    }
    h2 {
        font-size: 30px !important;
    }
    h3 {
        font-size: 20px !important;
    }
    h4 {
        font-size: 17px !important;
    }
    h5 {
        font-size: 20px; 
    }
    .hero-text {
        font-size: 34px;
    }
    .btn {
        padding: 16px 30px;
    }
    /* ..........Start Nav.......... */
    nav {
        display: grid;
        grid-template-columns: 80% 5%;
        justify-content: center;
        height: 5rem !important;
    }
    .navbar-logo img {
        max-width: 100px;
    }
    /* ..........Start Footer.......... */
    .footer-container {
        grid-template-columns: repeat(1);
    }
    .kontak {
        grid-template-columns: repeat(1, 200px) !important;
    }
} 
